<!doctype html>
<!--  -->
{% if user.data.account.usertype == 'Engineering Talent' %}
<!--  -->
{% extends 'talent/layout.html' %}
<!--  -->
{% else %}
<!--  -->
{% extends 'pm/layout.html' %}
<!--  -->
{% endif %}

<!--  -->
{% block content %}

<!-- App Header -->
<div class="appHeader bg-primary scrolled">
    <div class="left">
        <a href="#" class="headerButton" data-bs-toggle="offcanvas" data-bs-target="#sidebarPanel">
            <ion-icon name="menu-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle">
        <img src="../static/assets/img/logo.png" style="width: 100px; margin: 0px; filter: brightness(0) invert(1);" alt="icon">
    </div>
    <div class="right">
        <a href="#" class="headerButton toggle-searchbox">
            <ion-icon name="search-outline"></ion-icon>
        </a>
    </div>
</div>
<!-- * App Header -->

<!-- Search Component -->
<div id="search" class="appHeader">
    <form class="search-form" action="{{ url_for('home') }}" method="POST">
        <div class="form-group searchbox">
            <i class="input-icon">
                <ion-icon name="search-outline"></ion-icon>
            </i>

            <input type="text" class="form-control" name="keyword" id="keyword" placeholder="Search talent by key word...">

            <a href="#" class="ms-1 close toggle-searchbox">
                <ion-icon name="close-circle"></ion-icon>
            </a>
        </div>
    </form>
</div>
<!-- * Search Component -->

<script>
    var percent = 0;
    // About
    var photo = '{{ user.data.profile.photo }}';
    var headline = '{{ user.data.profile.headline }}';
    var summary = '{{ user.data.profile.summary }}';
    var calendly = '{{ user.data.profile.calendly }}';
    var phone = '{{ user.data.profile.phone }}';

    var counter = new Array();
    counter = JSON.parse('{{counter|safe}}');
    var educations = counter.educations[0]
    var experiences = counter.experiences[0]
    var projects = counter.projects[0]
    console.log(projects)

    var keyword = '{{keyword|safe}}';

    document.addEventListener("DOMContentLoaded", function(event) {

        if (keyword != "") {
            document.getElementById("search-text").innerHTML = 'Displaying results for keyword: ' + keyword;
            document.getElementById("search-text-btn").style.display = "none";
        }

        // About
        if (photo) {
            percent += 20;
        }
        if (headline) {
            percent += 20;
        }
        if (summary) {
            percent += 20;
        }
        if (calendly) {
            percent += 20;
        }
        if (phone) {
            percent += 20;
        }
        document.getElementById("about").style.width = String(percent) + '%';

        document.getElementById("about").innerText = '\xa0\xa0\xa0' + ' Profile: ' + String(percent) + '%';
        if (percent == 100) {
            // document.getElementById("about-progress").style.display = "none";
        }


        // Experience
        percent = 0;
        if (experiences > 0) {
            for (let step = 0; step < experiences; step++) {
                percent += 50;
                // if (percent > 99)
                //     percent = 100;
            }
            document.getElementById("experience").style.width = String(percent) + '%';
        }
        document.getElementById("experience").innerText = '\xa0\xa0\xa0' + ' Experience: ' + String(Math.round(percent / 50)) + ' / 2';
        if (percent == 100) {
            // document.getElementById("experience-progress").style.display = "none";
        }

        // Education
        percent = 0;
        if (educations > 0) {
            for (let step = 0; step < educations; step++) {
                percent += 50;
                // if (percent > 99)
                //     percent = 100;
            }
            document.getElementById("education").style.width = String(percent) + '%';
        }
        document.getElementById("education").innerText = '\xa0\xa0\xa0' + ' Education: ' + String(Math.round(percent / 50)) + ' / 2';
        if (percent == 100) {
            // document.getElementById("education-progress").style.display = "none";
        }


        // projects
        percent = 0;
        if (projects > 0) {
            for (let step = 0; step < projects; step++) {
                percent += 50;
                // if (percent > 99)
                //     percent = 100;
            }
            document.getElementById("projects").style.width = String(percent) + '%';
        }
        document.getElementById("projects").innerText = '\xa0\xa0\xa0' + ' Projects: ' + String(percent / 50) + ' / 1';
        if (percent == 100) {
            // document.getElementById("project-progress").style.display = "none";
        }


    });
</script>

<!-- App Capsule -->
<div id="appCapsule">

    <div class="header-large-title">
        <img src="../static/assets/img/logo.png" style="width: 100px; margin: 0px;" alt="icon">
    </div>

    <!-- Talent -->
    <div class="section mt-3 mb-3">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle" style="font-size:14px;">
                    <img src="../static/assets/img/favicon.png" style="width:27px; height:27px;"> Discover
                </h6>

                <h5 class="card-title">Search Narwhal Talent</h5>

                <p class="card-text mb-2" id="search-text">Enter Talent Key Word</p>


                <a href="#" class="btn btn-primary toggle-searchbox" id="search-text-btn">
                    <ion-icon name="search-outline"></ion-icon>
                    Search
                </a>



                {% for talent in talents %}
                <div class="section mt-2 mb-2">
                    <div class="card product-card">
                        <div class="card-body">
                            <a href="{{url_for('profile_details', email = talent.data.account.email)}}">
                                <div class="profile-head">
                                    <div class="avatar">
                                        <img src="{{talent.data.profile.photo}}" alt="avatar" class="imaged w64 rounded">
                                    </div>
                                    <div class="in">
                                        <h3 class="name" style="margin-bottom:0px">{{talent.data.account.firstname}} {{talent.data.account.lastname}}</h3>
                                        <div class="profile-info" style="margin-top:0px">
                                            <div class="link" style="margin-top:0px">{{talent.data.profile.headline}}</div>
                                        </div>
                                        <h5 class="subtext">Availability: {{talent.data.profile.availability}} hrs.</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- * Talent -->


    <div class="section full mt-3 mb-3">

        <div class="section mb-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-subtitle">Profile Completion</h2>
                    <p>Find Talent! Complete your profile.</p>

                    <div class="progress" id="about-progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuemin="0" aria-valuemax="100" id="about">&nbsp;&nbsp;Profile: 0%</div>
                    </div>

                    <div class="progress mt-1" id="experience-progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuemin="0" aria-valuemax="100" id="experience">&nbsp;&nbsp;Experience: 0%</div>
                    </div>

                    <div class="progress mt-1" id="education-progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuemin="0" aria-valuemax="100" id="education">&nbsp;&nbsp;Education: 0%</div>
                    </div>

                    <div class="progress mt-1" id="project-progress">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuemin="0" aria-valuemax="100" id="projects">&nbsp;&nbsp;Projects: 0 / 1</div>
                    </div>

                </div>
            </div>
        </div>

        <!-- carousel multiple -->
        <div class="carousel-multiple splide">
            <div class="splide__track">
                <ul class="splide__list">

                    <li class="splide__slide">
                        <div class="card">
                            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_z5kmjeap.json" background="transparent" speed="0.5" style="width: 100px; height: 100px; margin-top:40px; margin-bottom:10px" loop autoplay></lottie-player>
                            <div class="card-body pt-2">
                                <div class="col-12 mt-2 text-center">
                                    <a href="{{ url_for('profile_edit') }}" class="btn btn-primary btn-sm">
                                        <ion-icon name="create-outline"></ion-icon> Profile
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="splide__slide">
                        <div class="card">
                            <lottie-player src="https://assets2.lottiefiles.com/private_files/lf30_7BCPlZ.json" background="transparent" speed="0.25" style="width: 150px; height: 150px;" loop autoplay></lottie-player>
                            <div class="card-body pt-2">
                                <div class="col-12 mt-2 text-center">
                                    <a href="{{ url_for('project_edit') }}" class="btn btn-primary btn-sm">
                                        <ion-icon name="add-circle-outline"></ion-icon> Project
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="splide__slide">
                        <div class="card">
                            <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_qdmxvg00.json" background="transparent" speed="0.5" style="width: 150px; height: 150px;" loop autoplay></lottie-player>
                            <div class="card-body pt-2">
                                <div class="col-12 mt-2 text-center">
                                    <a href="{{ url_for('experience_edit') }}" class="btn btn-primary btn-sm">
                                        <ion-icon name="add-circle-outline"></ion-icon> Experience
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="splide__slide">
                        <div class="card">
                            <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_DMgKk1.json" background="transparent" speed="0.5" style="width: 150px; height: 150px;" loop autoplay></lottie-player>
                            <div class="card-body pt-2">
                                <div class="col-12 mt-2 text-center">
                                    <a href="{{ url_for('education_edit') }}" class="btn btn-primary btn-sm">
                                        <ion-icon name="add-circle-outline"></ion-icon> Education
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <!-- * carousel multiple -->



    </div>







    <!-- app footer -->
    <div class="appFooter">
        <img src="../static/assets/img/logo.png" style="width: 100px; margin: 0px;" alt="icon">
        <!-- class="footer-logo mb-2"> -->
        <div class="footer-title">
            Copyright © Narwhal <span class="yearNow"></span>. <br>All Rights Reserved.
        </div>
        <!-- <div>The 3L-Ranch mission here</div> -->

    </div>
    <!-- * app footer -->

</div>
<!-- * App Capsule -->

{% endblock %}