{% extends 'talent/layout.html' %}

<!--  -->
{% block content %}

<!-- App Header -->
<div class="appHeader bg-primary scrolled">
    <div class="left">
        <a href="#" class="headerButton" data-bs-toggle="offcanvas" data-bs-target="#sidebarPanel">
            <ion-icon name="menu-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle">
        <img src="../static/assets/img/logo.png" style="width: 100px; margin: 0px; filter: brightness(0) invert(1);" alt="icon">
    </div>
    <!-- <div class="right">
        <a href="#" class="headerButton toggle-searchbox">
            <ion-icon name="search-outline"></ion-icon>
        </a>
    </div> -->
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">


    <div class="section full mt-3 mb-3">

        <!-- 
            These widgets show up until you complete your profile!
         -->

        <!-- carousel multiple -->
        <div class="carousel-multiple splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="card">
                            <img src="../static/assets/img/sample/photo/d2.jpg" class="card-img-top" alt="image">
                            <div class="card-body pt-2">
                                <h4 class="mb-0">Add Experience</h4>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="card">
                            <img src="../static/assets/img/sample/photo/d3.jpg" class="card-img-top" alt="image">
                            <div class="card-body pt-2">
                                <h4 class="mb-0">Add Education</h4>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="card">
                            <img src="../static/assets/img/sample/photo/d5.jpg" class="card-img-top" alt="image">
                            <div class="card-body pt-2">
                                <h4 class="mb-0">Add Projects</h4>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="card">
                            <img src="../static/assets/img/sample/photo/d4.jpg" class="card-img-top" alt="image">
                            <div class="card-body pt-2">
                                <h4 class="mb-0">Add Skills</h4>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="card">
                            <img src="../static/assets/img/sample/photo/d6.jpg" class="card-img-top" alt="image">
                            <div class="card-body pt-2">
                                <h4 class="mb-0">Add Publications</h4>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="card">
                            <img src="../static/assets/img/sample/photo/d5.jpg" class="card-img-top" alt="image">
                            <div class="card-body pt-2">
                                <h4 class="mb-0">Add Patents</h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- * carousel multiple -->

    </div>


    <div class="section mt-3 mb-3">
        <div class="card">
            <img src="../static/assets/img/sample/photo/wide2.jpg" class="card-img-top" alt="image">
            <div class="card-body">
                <h2 class="card-subtitle">Project Title</h2>
                <p class="card-text">
                    Project Details
                </p>
            </div>
        </div>
    </div>

    <div class="section mt-3 mb-3">
        <div class="card">
            <img src="../static/assets/img/sample/photo/wide2.jpg" class="card-img-top" alt="image">
            <div class="card-body">
                <h2 class="card-subtitle">Project Title</h2>
                <p class="card-text">
                    Project Details
                </p>
            </div>
        </div>
    </div>

    <div class="section mt-3 mb-3">
        <div class="card">
            <img src="../static/assets/img/sample/photo/wide2.jpg" class="card-img-top" alt="image">
            <div class="card-body">
                <h2 class="card-subtitle">Project Title</h2>
                <p class="card-text">
                    Project Details
                </p>
            </div>
        </div>
    </div>


    <!-- app footer -->
    <div class="appFooter">
        <img src="../static/assets/img/logo.png" style="width: 100px; margin-bottom: 10px;" alt="icon">
        <!-- class="footer-logo mb-2"> -->
        <div class="footer-title">
            Copyright © Narwhal <span class="yearNow"></span>. <br>All Rights Reserved.
        </div>

    </div>
    <!-- * app footer -->

</div>
<!-- * App Capsule -->

{% endblock %}