{% extends 'talent/layout.html' %}

<!--  -->
{% block content %}

<!-- App Header -->
<div class="appHeader bg-primary scrolled">
    <div class="left">
        <a href="#" class="headerButton" data-bs-toggle="offcanvas" data-bs-target="#sidebarPanel">
            <ion-icon name="menu-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle">
        <img src="../static/assets/img/logo.png" style="width: 100px; margin: 0px; filter: brightness(0) invert(1);" alt="icon">
    </div>
    <!-- <div class="right">
        <a href="#" class="headerButton toggle-searchbox">
            <ion-icon name="search-outline"></ion-icon>
        </a>
    </div> -->
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">


    <div class="section full mt-3 mb-3">



        <!-- 
            These widgets show up until you complete your profile!
         -->

        <div class="section mb-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-subtitle">Profile Completion</h2>
                    <p>Get noticed! Complete your profile.</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- carousel multiple -->
        <div class="carousel-multiple splide">
            <div class="splide__track">
                <ul class="splide__list">

                    <li class="splide__slide">
                        <div class="card">
                            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_z5kmjeap.json" background="transparent" speed="1" style="width: 100px; height: 100px; margin-top:40px; margin-bottom:10px" loop autoplay></lottie-player>
                            <div class="card-body pt-2">
                                <div class="col-12 mt-2 text-center">
                                    <a href="{{ url_for('profile_edit') }}" class="btn btn-primary btn-sm">
                                        <ion-icon name="add-circle-outline"></ion-icon> Personal
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="splide__slide">
                        <div class="card">
                            <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_qdmxvg00.json" background="transparent" speed="1" style="width: 150px; height: 150px;" loop autoplay></lottie-player>
                            <div class="card-body pt-2">
                                <div class="col-12 mt-2 text-center">
                                    <a href="{{ url_for('experience_edit') }}" class="btn btn-primary btn-sm">
                                        <ion-icon name="add-circle-outline"></ion-icon> Experience
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="splide__slide">
                        <div class="card">
                            <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_DMgKk1.json" background="transparent" speed="1" style="width: 150px; height: 150px;" loop autoplay></lottie-player>
                            <div class="card-body pt-2">
                                <div class="col-12 mt-2 text-center">
                                    <a href="{{ url_for('education_edit') }}" class="btn btn-primary btn-sm">
                                        <ion-icon name="add-circle-outline"></ion-icon> Education
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="splide__slide">
                        <div class="card">
                            <lottie-player src="https://assets2.lottiefiles.com/private_files/lf30_obidsi0t.json" background="transparent" speed="1" style="width: 150px; height: 150px;" loop autoplay></lottie-player>
                            <div class="card-body pt-2">
                                <div class="col-12 mt-2 text-center">
                                    <a href="{{ url_for('under_construction') }}" class="btn btn-primary btn-sm">
                                        <ion-icon name="add-circle-outline"></ion-icon> Skills
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="splide__slide">
                        <div class="card">
                            <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_dts7rqmw.json" background="transparent" speed="1" style="width: 150px; height: 120px; margin-top:30px;" loop autoplay></lottie-player>
                            <div class="card-body pt-2">
                                <div class="col-12 mt-2 text-center">
                                    <a href="{{ url_for('under_construction') }}" class="btn btn-primary btn-sm">
                                        <ion-icon name="add-circle-outline"></ion-icon> Publications
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="splide__slide">
                        <div class="card">
                            <lottie-player src="https://assets9.lottiefiles.com/temp/lf20_hT22rr.json" background="transparent" speed="1" style="width: 150px; height: 150px;" loop autoplay></lottie-player>
                            <div class="card-body pt-2">
                                <div class="col-12 mt-2 text-center">
                                    <a href="{{ url_for('under_construction') }}" class="btn btn-primary btn-sm">
                                        <ion-icon name="add-circle-outline"></ion-icon> Patents
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
        <!-- * carousel multiple -->

    </div>


    <div class="section mt-3 mb-3">
        <a href="https://www.challenge.gov/?challenge=project-narwhal">
            <div class="card">
                <img src="../static/assets/img/sample/photo/wide_narwhal.png" class="card-img-top" alt="image">
                <div class="card-body">
                    <h2 class="card-subtitle m-0">Project Narwal</h2>
                    <p class="card-text m-0" style="font-size: 14px;">
                        Department of Defense - Navy
                    </p>
                    <p class="text-muted m-0" style="font-size: 14px;">
                        Creating the Navy's Gig Economy App
                    </p>
                </div>
            </div>
        </a>
    </div>

    <div class="section mt-3 mb-3">
        <a href="https://www.challenge.gov/?challenge=cause-of-death-elucidated-(code)-in-drug-overdose">
            <div class="card">
                <img src="../static/assets/img/sample/photo/wide_code.png" class="card-img-top" alt="image">
                <div class="card-body">
                    <h2 class="card-subtitle m-0">Code Challenge</h2>
                    <p class="card-text m-0" style="font-size: 14px;">
                        Department of Health and Human Services
                    </p>
                    <p class="text-muted m-0" style="font-size: 14px;">
                        Improve public health response to the opioid epidemic
                    </p>
                </div>
            </div>
        </a>
    </div>






    <!-- app footer -->
    <div class="appFooter">
        <img src="../static/assets/img/logo.png" style="width: 100px; margin-bottom: 10px;" alt="icon">
        <!-- class="footer-logo mb-2"> -->
        <div class="footer-title">
            Copyright © Narwhal <span class="yearNow"></span>. <br>All Rights Reserved.
        </div>

    </div>
    <!-- * app footer -->

</div>
<!-- * App Capsule -->


{% endblock %}