<!doctype html>

<!--  -->
{# {% if user.data.account.usertype == 'Engineering Talent' %} #}
<!--  -->
{% extends 'talent/layout.html' %}
<!--  -->
{# {% else %}
<!--  -->
{% extends 'pm/layout.html' %}
<!--  -->
{% endif %} #}
<!--  -->
{% block content %}



<!-- App Header -->
<div class="appHeader bg-primary text-light">
    <div class="left">
        <a href="#" class="headerButton goBack">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle">Profile</div>
    <div class="right">
        {% if type != user.data.account.usertype %}
        <a href="#" class="headerButton">
            <ion-icon name="bookmark-outline"></ion-icon>
        </a>
        <form action="{{ url_for('new_contact') }}" method="POST">
            <input hidden type="email" class="form-control" name="email" id="email" value="{{user.data.account.email}}">
            <button type="input" class="headerButton" style="background: transparent !important; border-width: 0px !important;">
                <ion-icon name="person-add-outline"></ion-icon>            
            </button>
        </form>
        <a href="{{url_for('schedule', user_email = user.data.account.email)}}" class="headerButton">
            <ion-icon name="calendar-outline"></ion-icon>
        </a>
        <!--  -->
        {% endif %}

    </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">



    <div class="section mt-2">
        <div class="card">
            <div class="card-body">

                <div class="section">
                    <div class="profile-head">
                        <div class="avatar">
                            <img src="{{user.data.profile.photo}}" alt="avatar" class="imaged w64 rounded">
                        </div>
                        <div class="in">
                            <h3 class="name" style="margin-bottom:0px">{{user.data.account.firstname}} {{user.data.account.lastname}}</h3>
                            <div class="profile-info" style="margin-top:0px">
                                <div class="link" style="margin-top:0px">{{user.data.profile.headline}}</div>
                            </div>
                            <h5 class="subtext">{{user.data.profile.city}}</h5>
                        </div>
                    </div>
                </div>

                <div class="section mt-1">
                    <div class="row">
                        <div class="col-8">
                            <div class="profile-info">
                                <div class="bio" style="text-align: justify;">
                                    {{user.data.profile.summary}}
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="section">
                                <div class="row" style="width: 100px;">
                                    <div class="col">
                                        <div class="circle-progress-container">
                                            <div id="progress1">
                                                <div class="inner">
                                                    <p class="mt-2">20 hrs.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <p class="mt-2">Availability</p> -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- <div class="text-center mt-2">
                    <div class="profile-stats ps-1 pe-1">
                        <a href="#" class="item">
                            <strong>7</strong>matches
                        </a>
                        <a href="#" class="item">
                            <strong>28</strong>views
                        </a>
                        <a href="#" class="item">
                            <strong>15</strong>searches
                        </a>
                    </div>
                </div> -->

            </div>
        </div>
    </div>

    <!-- <div class="section mt-2">
        <div class="card">
            <div class="card-body">
                <div class="section mt-2">
                    <div class="row" style="width: 100px; margin: 0 auto">
                        <div class="col">
                            <div class="circle-progress-container">
                                <div id="progress1">
                                    <div class="inner">
                                        <p class="mt-2">20 hrs.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="mt-2">Availability</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="section mt-2">
        <div class="card">
            <div class="card-body">
                <h4>Experience</h4>
                <!--  -->
                <!-- Loop Here -->
                <!--  -->
                <ul class="listview image-listview media" style="margin-left: 0px;">
                    {% for exp in user["data"]["experience"] %}
                    <li>
                        <div class="item">
                            <div class="imageWrapper" style="margin-left:-17px;">
                                <img src="../static/assets/img/sample/photo/1.jpg" alt="image" class="imaged w64">
                            </div>
                            <div class="in">
                                <div>
                                    {{user["data"]["experience"][exp]["company"]}}
                                    <div class="text-muted">{{user["data"]["experience"][exp]["title"]}}</div>
                                    <div class="text-muted">
                                        {{user["data"]["experience"][exp]["start"]}} - {{user["data"]["experience"][exp]["end"]}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--  -->
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="section mt-2">
        <div class="card">
            <div class="card-body">
                <h4>Education</h4>
                <!--  -->
                <!-- Loop Here -->
                <!--  -->
                <ul class="listview image-listview media">
                    {% for edu in user["data"]["education"] %}
                    <li>
                        <div class="item">
                            <div class="imageWrapper" style="margin-left:-17px;">
                                <img src="../static/assets/img/sample/photo/1.jpg" alt="image" class="imaged w64">
                            </div>
                            <div class="in">
                                <div>
                                    {{user["data"]["education"][edu]["school"]}}
                                    <div class="text-muted">{{user["data"]["education"][edu]["degree"]}}</div>
                                    <div class="text-muted">
                                        {{user["data"]["education"][edu]["start"]}} - {{user["data"]["education"][edu]["end"]}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--  -->
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script src="../static/assets/js/plugins/progressbar-js/progressbar.min.js"></script>
    <script>
        var circleProgress1 = new ProgressBar.Circle(progress1, {
            strokeWidth: 8,
            easing: 'easeInOut',
            duration: 2400,
            color: '#1E74FD',
            trailColor: '#E5E5E5',
            trailWidth: 8,
            svgStyle: null
        });

        circleProgress1.animate(0.50); // percent
    </script>


</div>
<!-- * App Capsule -->

{% endblock %}