<!doctype html>

<!--  -->
{% if user.data.account.usertype == 'Engineering Talent' %}
<!--  -->
{% extends 'talent/layout.html' %}
<!--  -->
{% else %}
<!--  -->
{% extends 'pm/layout.html' %}
<!--  -->
{% endif %}
<!--  -->
{% block content %}


<!-- App Header -->
<div class="appHeader bg-primary text-light">
    <div class="left">
        <a href="{{ url_for('home') }}" class="headerButton">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle">Narwhal Chat</div>
    <div class="right">
        <!-- <a href="#" class="headerButton toggle-searchbox">
            <ion-icon name="search-outline"></ion-icon>
        </a> -->
        <a href="#" class="headerButton toggle-searchbox">
            <ion-icon name="search-outline"></ion-icon>
        </a>
    </div>
</div>
<!-- * App Header -->

<!-- New Chat Search Component -->
<div id="search" class="appHeader">

    <form class="search-form" action="{{ url_for('new_contact') }}" method="POST">
        <div class="form-group searchbox">

            <i class="input-icon">
                <ion-icon name="search-outline"></ion-icon>
            </i>

            <input type="email" class="form-control" name="email" id="email" placeholder="Create new contact via email">

            <a href="#" class="ms-1 close toggle-searchbox">
                <ion-icon name="close-circle"></ion-icon>
            </a>

        </div>
    </form>

</div>
<!-- * Search Component -->

<!-- App Capsule -->
<div id="appCapsule">



    <ul class="listview image-listview">
        {% for contact in contacts %}

        <li>
            <a href="{{ url_for('text', rid=contact.room_id) }}" class="item">
                <img src="{{ contact.photo }}" alt="image" class="image">
                <div class="in">
                    <div>{{ contact.firstname }} {{ contact.lastname }}</div>
                </div>
            </a>
        </li>

        {% endfor %}

    </ul>

</div>
<!-- * App Capsule -->
{% endblock %}