<!doctype html>

<!--  -->
{% if user.data.account.usertype == 'Engineering Talent' %}
<!--  -->
{% extends 'talent/layout.html' %}
<!--  -->
{% else %}
<!--  -->
{% extends 'pm/layout.html' %}
<!--  -->
{% endif %}
<!--  -->
{% block content %}


<!-- App Header -->
<div class="appHeader bg-primary text-light">
    <div class="left">
        <a href="#" class="headerButton goBack">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle">Notifications</div>
    <div class="right">
        <a href="#" class="headerButton" data-bs-toggle="offcanvas" data-bs-target="#actionSheetDefaultInset">
            <ion-icon name="ellipsis-horizontal"></ion-icon>
        </a>
    </div>
</div>
<!-- * App Header -->

<!-- Default Action Sheet Inset -->
<div class="offcanvas offcanvas-bottom action-sheet inset" tabindex="-1" id="actionSheetDefaultInset">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Actions</h5>
    </div>
    <div class="offcanvas-body">
        <ul class="action-button-list">
            <li>
                <a href="#" class="btn btn-list">
                    <span>Mute Notifications</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- * Default Action Sheet Inset -->

<script>
    function profile_notification(id, email) {
        fetch("{{url_for('notificationViewed', notification_id = 'ID')}}".replace("ID", id), {
                method: "POST",
            }).then((response) => response.json())
            .then((data) => {
                window.location.href = "{{ url_for('profile_details', email = 'EMAIL' ) }}".replace("EMAIL", email);
            });
    }

    function project_notification(id, target) {
        fetch("{{url_for('notificationViewed', notification_id = 'ID')}}".replace("ID", id), {
                method: "POST",
            }).then((response) => response.json())
            .then((data) => {
                window.location.href = "{{ url_for('project_details', project_id = 'PROJECTID' ) }}".replace("PROJECTID", target)
            });
    }
</script>

<!-- App Capsule -->
<div id="appCapsule">


    <ul class="listview image-listview">
        {% if notifications %}
        <!--  -->
        {% for item in notifications %}
        <!-- New Connection -->
        {% if item.data.notification.type == "connection" %}
        <li>
            <a href="#" class="item" onclick='profile_notification("{{item.ref.id()}}","{{item.data.notification.target}}")'>
                <div class="icon-box bg-primary">
                    <ion-icon name="person-outline"></ion-icon>
                </div>
                <div class="in">
                    New Contact! <br> {{item.data.notification.name}}
                </div>
            </a>
        </li>
        {% endif %}
        <!-- * New Connection -->

        <!-- New Match -->
        {% if item.data.notification.type == "talent_match" %}
        <li>
            <a href="#" class="item" onclick='profile_notification("{{item.ref.id()}}","{{item.data.notification.target}}")'>
                <div class="icon-box bg-primary">
                    <ion-icon name="git-compare-outline"></ion-icon>
                </div>
                <div class="in">
                    New Talent Match! <br> {{item.data.notification.name}}
                </div>
            </a>
        </li>
        {% endif %}
        <!-- or -->
        {% if item.data.notification.type == "project_match" %}
        <li>
            <a href="#" class="item" onclick='project_notification("{{item.ref.id()}}","{{item.data.notification.target}}")'>
                <div class="icon-box bg-primary">
                    <ion-icon name="git-compare-outline"></ion-icon>
                </div>
                <div class="in">
                    New Project Match! <br> {{item.data.notification.name}}
                </div>
            </a>
        </li>
        {% endif %}
        <!-- * New Match -->

        <!-- New Applicant -->
        {% if item.data.notification.type == "application" %}
        <li>
            <a href="#" class="item" onclick='profile_notification("{{item.ref.id()}}","{{item.data.notification.target}}")'>
                <div class="icon-box bg-primary">
                    <ion-icon name="git-pull-request-outline"></ion-icon>
                </div>
                <div class="in">
                    New Applicant!<br> {{item.data.notification.name}}
                </div>
            </a>
        </li>
        {% endif %}
        <!-- * New Match -->
        {% endfor %}
        <!--  -->
        {% endif %}

    </ul>


</div>
<!-- * App Capsule -->
{% endblock %}