<!doctype html>
<!--  -->
{% if user.data.account.usertype == 'Engineering Talent' %}
<!--  -->
{% extends 'talent/layout.html' %}
<!--  -->
{% else %}
<!--  -->
{% extends 'pm/layout.html' %}
<!--  -->
{% endif %}

<!--  -->
{% block content %}

<!-- App Header -->
<div class="appHeader bg-primary text-light">
    <div class="left">
        <a href="#" class="headerButton goBack">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle">Project Details</div>
    <div class="right">
        <a href="#" class="headerButton">
            <ion-icon name="bookmark-outline"></ion-icon>
        </a>
        <a href="#" class="headerButton" data-bs-toggle="offcanvas" data-bs-target="#actionSheetShare">
            <ion-icon name="share-outline"></ion-icon>
        </a>
    </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">

    <div class="blog-post">
        <div class="mb-2">
            <img src='{{project["data"]["projects"][id]["banner"]}}' alt="image" class="imaged square w-100">
        </div>

        <div class="in">
            <h2 class="name ms-2">{{project["data"]["projects"][id]["title"]}}</h2>
            <h5 class="text-muted ms-2">{{project["data"]["projects"][id]["headline"]}}</h5>
            <div class="profile-info ms-2">
                <div class="link">{{project["data"]["projects"][id]["sponsor"]}}</div>
            </div>
        </div>

        <div class="post-header">
            <div>
                <a href="{{ url_for('profile_details', email = talent.data.account.email) }}">
                    <img src='{{project["data"]["profile"]["photo"]}}' alt="avatar" class="imaged w24 rounded me-05">
                    <!--  -->
                    {{project["data"]["account"]["firstname"]}} {{project["data"]["account"]["lastname"]}}
                </a>
            </div>
            {postdate!}
        </div>
        <div class="post-body">
            <h4>Project Summary</h4>
            <p style="text-align: justify">
                {{project["data"]["projects"][id]["summary"]}}
            </p>
            <h4>Talent Details</h4>
            <p style="text-align: justify">
                {todo here}
            </p>
            <h4>Key Words</h4>
            <p style="text-align: justify">
                <!-- for loop the key words here into bubbles! -->
                {{project["data"]["projects"][id]["keys"]}}
            </p>
            <h4>External Links</h4>
            <p style="text-align: justify">
                <a href="#">{{project["data"]["projects"][id]["title"]}}</a>
            </p>
        </div>
    </div>


    <div class="section mt-4 mb-5">
        <div class="row">

            <div class="col-6">
                <form action="{{ url_for('new_contact') }}" method="POST">

                    <input hidden type="email" class="form-control" name="email" id="email" value='{{project["data"]["account"]["email"]}}'>

                    <button type="input" class="btn btn-outline-primary btn-block">
                        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                        Contact
                    </button>


                </form>
            </div>

            <div class="col-6">
                <button type="button" class="btn btn-outline-primary btn-block">
                    <ion-icon name="git-pull-request-outline"></ion-icon>Apply
                </button>
            </div>

        </div>
    </div>

</div>
<!-- * App Capsule -->

<!-- Share Action Sheet -->
<div class="offcanvas offcanvas-bottom action-sheet inset" tabindex="-1" id="actionSheetShare">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Share with</h5>
    </div>
    <div class="offcanvas-body">
        <ul class="action-button-list">
            <li>
                <a href="#" class="btn btn-list" data-bs-dismiss="offcanvas">
                    <span>
                            <ion-icon name="logo-facebook"></ion-icon>
                            Facebook
                        </span>
                </a>
            </li>
            <li>
                <a href="#" class="btn btn-list" data-bs-dismiss="offcanvas">
                    <span>
                            <ion-icon name="logo-twitter"></ion-icon>
                            Twitter
                        </span>
                </a>
            </li>
            <li>
                <a href="#" class="btn btn-list" data-bs-dismiss="offcanvas">
                    <span>
                            <ion-icon name="logo-instagram"></ion-icon>
                            Instagram
                        </span>
                </a>
            </li>
            <li>
                <a href="#" class="btn btn-list" data-bs-dismiss="offcanvas">
                    <span>
                            <ion-icon name="logo-linkedin"></ion-icon>
                            Linkedin
                        </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- * Share Action Sheet -->


{% endblock %}