<!doctype html>
<!--  -->
{% if user.data.account.usertype == 'Engineering Talent' %}
<!--  -->
{% extends 'talent/layout.html' %}
<!--  -->
{% else %}
<!--  -->
{% extends 'pm/layout.html' %}
<!--  -->
{% endif %}
<!--  -->
{% block content %}

<!-- App Header -->
<div class="appHeader bg-primary text-light">
    <div class="left">
        <a href="#" class="headerButton goBack">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle">Talent Pool</div>
    <div class="right">
        <ion-button class="headerButton" data-bs-toggle="offcanvas" data-bs-target="#actionSheetForm">
            <ion-icon name="funnel-outline"></ion-icon>
        </ion-button>
    </div>
</div>
<!-- * App Header -->

<!-- Form Action Sheet -->
<div class="offcanvas offcanvas-bottom action-sheet" tabindex="-1" id="actionSheetForm">

    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Narwhal Talent Filter</h5>
    </div>

    <div class="offcanvas-body">
        <div class="action-sheet-content">

            <form action="{{ url_for('talent') }}" method="POST">

                <!-- Skills -->
                <div class="row">
                    <div class="col-9">
                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="form-label" for="myInput">I'm Looking for... skill</label>
                                <input type="text" class="form-control" id="myInput" name="skill" placeholder="Ex. c++" autocomplete="off">
                                <i class="clear-input">
                                    <ion-icon name="close-circle"></ion-icon>
                                </i>
                            </div>
                            <div class="input-info">Narwhal will propose active skills!</div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group basic mt-1">
                            <input type="submit" class="btn btn-outline-primary btn-block" name='btn' value="Search">
                        </div>
                    </div>
                </div>
                <!-- * Skills -->

                <!-- degrees -->
                <div class="row">
                    <div class="col-9">
                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="form-label" for="myInput2">I'm Looking for... degree</label>
                                <input type="text" class="form-control" id="myInput2" name="degree" placeholder="Ex. Aerospace Engineering" autocomplete="off">
                                <i class="clear-input">
                                    <ion-icon name="close-circle"></ion-icon>
                                </i>
                            </div>
                            <div class="input-info">Narwhal will propose active talent degrees</div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group basic mt-1">
                            <a class="btn btn-outline-primary btn-block" href="#" onclick="myalert()">Search</a>
                        </div>
                    </div>
                </div>
                <!-- * degrees -->

                <div class="form-group basic mt-2">
                    <input type="submit" class="btn btn-primary btn-block" name='btn' value="Show All Talent">
                </div>


            </form>

        </div>
    </div>

</div>
<!-- * Form Action Sheet -->


<script>
    function myalert() {
        alert("Functionality under construction!")
    }

    function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function(e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) {
                return false;
            }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function(e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                }
            }
        });

        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }

        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function(e) {
            closeAllLists(e.target);
        });
    }

    /*An array containing all the skills in the Narwhal database*/
    var skills = new Array()
    document.addEventListener("DOMContentLoaded", function(event) {
        skills = JSON.parse('{{skills|safe}}')
            // initiate the autocomplete function on the "myInput" element, and pass along the skills array as possible autocomplete values:
        autocomplete(document.getElementById("myInput"), skills);
    });
</script>



<!-- Extra Header -->
<div class="extraHeader p-0">
    <ul class="nav nav-tabs lined" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="intro" aria-selected="true">Filtered</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="matched-tab" data-bs-toggle="tab" data-bs-target="#matched" type="button" role="tab" aria-controls="intro" aria-selected="false">Auto-Matched</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="saved-tab" data-bs-toggle="tab" data-bs-target="#saved" type="button" role="tab" aria-controls="saved" aria-selected="false">Bookmarked</button>
        </li>
    </ul>
</div>
<!-- * Extra Header -->

<!-- App Capsule -->

<div id="appCapsule" class="extra-header-active">
    <div class="tab-content">

        <!-- All -->
        <div class="tab-pane active" id="all" role="tabpanel" aria-labelledby="all-tab">

            <ul class="listview image-listview media mb-2">

                {% for talent in talents %}
                <li>
                    <a href="{{ url_for('profile_details', email = talent.data.account.email) }}" class="item">
                        <div class="imageWrapper">
                            <img src="{{talent.data.profile.photo}}" alt="image" class="imaged w64">
                        </div>
                        <div class="in">
                            <div>
                                {{talent.data.account.firstname}} {{talent.data.account.lastname}}
                                <div class="text-muted">{{talent.data.profile.headline}}</div>
                                <div class="text-muted">{{talent.data.profile.city}}</div>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}

            </ul>

        </div>
        <!-- * All -->

        <!-- Matched -->
        <div class="tab-pane" id="matched" role="tabpanel" aria-labelledby="matched-tab">

            <ul class="listview image-listview media mb-2">

                {% for talent in matches %}
                <li>
                    <a href="{{ url_for('profile_details', email = talent.data.account.email) }}" class="item">
                        <div class="imageWrapper">
                            <img src="{{talent.data.profile.photo}}" alt="image" class="imaged w64">
                        </div>
                        <div class="in">
                            <div>
                                {{talent.data.account.firstname}} {{talent.data.account.lastname}}
                                <div class="text-muted">{{talent.data.profile.headline}}</div>
                                <div class="text-muted">{{talent.data.profile.city}}</div>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}

            </ul>

        </div>
        <!-- * Matched -->

        <!-- Bookmarked -->
        <div class="tab-pane" id="saved" role="tabpanel" aria-labelledby="saved-tab">

            <ul class="listview image-listview media mb-2">
                {% for talent in bookmarks %}
                <li>
                    <a href="{{ url_for('profile_details', email = talent.data.account.email) }}" class="item">
                        <div class="imageWrapper">
                            <img src="{{talent.data.profile.photo}}" alt="image" class="imaged w64">
                        </div>
                        <div class="in">
                            <div>
                                {{talent.data.account.firstname}} {{talent.data.account.lastname}}
                                <div class="text-muted">{{talent.data.profile.headline}}</div>
                                <div class="text-muted">{{talent.data.profile.city}}</div>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>

        </div>
        <!-- * Bookmarked -->



    </div>

</div>
<!-- * App Capsule -->

{% endblock %}