<!doctype html>
<!--  -->
{% if user.data.account.usertype == 'Engineering Talent' %}
<!--  -->
{% extends 'talent/layout.html' %}
<!--  -->
{% else %}
<!--  -->
{% extends 'pm/layout.html' %}
<!--  -->
{% endif %}
<!--  -->
{% block content %}

<!-- App Header -->
<div class="appHeader bg-primary text-light">
    <div class="left">
        <a href="#" class="headerButton goBack">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle">Talent Pool</div>
    <div class="right">
        <a href="#" class="headerButton toggle-searchbox">
            <ion-icon name="search-outline"></ion-icon>
        </a>
    </div>
</div>
<!-- * App Header -->

<!-- Search Component -->
<div id="search" class="appHeader">
    <form class="search-form">
        <div class="form-group searchbox">
            <input type="text" class="form-control" placeholder="Search...">
            <i class="input-icon">
                    <ion-icon name="search-outline"></ion-icon>
                </i>
            <a href="#" class="ms-1 close toggle-searchbox">
                <ion-icon name="close-circle"></ion-icon>
            </a>
        </div>
    </form>
</div>
<!-- * Search Component -->

<!-- Extra Header -->
<div class="extraHeader p-0">
    <ul class="nav nav-tabs lined" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="intro" aria-selected="true">All</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="matched-tab" data-bs-toggle="tab" data-bs-target="#matched" type="button" role="tab" aria-controls="intro" aria-selected="false">Matched</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="saved-tab" data-bs-toggle="tab" data-bs-target="#saved" type="button" role="tab" aria-controls="saved" aria-selected="false">Bookmarked</button>
        </li>
    </ul>
</div>
<!-- * Extra Header -->

<!-- App Capsule -->

<div id="appCapsule" class="extra-header-active">
    <div class="tab-content">

        <!-- All -->
        <div class="tab-pane active" id="all" role="tabpanel" aria-labelledby="all-tab">

            <ul class="listview image-listview media mb-2">

                {% for talent in talents %}
                <li>
                    <a href="{{ url_for('profile_details', email = talent.data.account.email) }}" class="item">
                        <div class="imageWrapper">
                            <img src="{{talent.data.profile.photo}}" alt="image" class="imaged w64">
                        </div>
                        <div class="in">
                            <div>
                                {{talent.data.account.firstname}} {{talent.data.account.lastname}}
                                <div class="text-muted">{{talent.data.profile.headline}}</div>
                                <div class="text-muted">{{talent.data.profile.city}}</div>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}

            </ul>

        </div>
        <!-- * All -->

        <!-- Matched -->
        <div class="tab-pane" id="matched" role="tabpanel" aria-labelledby="matched-tab">

            <ul class="listview image-listview media mb-2">

                {% for talent in matches %}
                <li>
                    <a href="{{ url_for('profile_details', email = talent.data.account.email) }}" class="item">
                        <div class="imageWrapper">
                            <img src="{{talent.data.profile.photo}}" alt="image" class="imaged w64">
                        </div>
                        <div class="in">
                            <div>
                                {{talent.data.account.firstname}} {{talent.data.account.lastname}}
                                <div class="text-muted">{{talent.data.profile.headline}}</div>
                                <div class="text-muted">{{talent.data.profile.city}}</div>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}

            </ul>

        </div>
        <!-- * Matched -->

        <!-- Bookmarked -->
        <div class="tab-pane" id="saved" role="tabpanel" aria-labelledby="saved-tab">

            <ul class="listview image-listview media mb-2">

                {% for talent in talents %} {% for usr_id in bookmarks %} {% if talent.ref.id() == usr_id %}
                <li>
                    <a href="{{ url_for('profile_details', email = talent.data.account.email) }}" class="item">
                        <div class="imageWrapper">
                            <img src="{{talent.data.profile.photo}}" alt="image" class="imaged w64">
                        </div>
                        <div class="in">
                            <div>
                                {{talent.data.account.firstname}} {{talent.data.account.lastname}}
                                <div class="text-muted">{{talent.data.profile.headline}}</div>
                                <div class="text-muted">{{talent.data.profile.city}}</div>
                            </div>
                        </div>
                    </a>
                </li>
                {% endif %} {% endfor %} {% endfor %}

            </ul>

        </div>
        <!-- * Bookmarked -->



    </div>

</div>
<!-- * App Capsule -->

{% endblock %}